<div class="wrapper">
  <div class="container">
    <div class="top" [ngStyle]="{'background-image':product.imageSrc }"></div>
    <div class="bottom" [ngClass]="clicked ? 'clicked' : '' ">
      <div class="left">
        <div class="details">
          <h1>{{product.name}}</h1>
          <p class='currencyColor'>${{product.price}}</p>
        </div>
        <div class="buy" (click)='buyButtonClick()'><i class="material-icons">add_shopping_cart</i></div>
      </div>
      <div class="right">
        <div class="done"><i class="material-icons">done</i></div>
        <div class="details">
          <p>{{product.productName}}</p>
          <p>Added to your cart</p>
        </div>
        <div class="remove" (click)='buyButtonClick()'><i class="material-icons">clear</i></div>
      </div>
    </div>
  </div>
  <div class="inside">
    <div class="icon"><i class="material-icons">info_outline</i></div>
    <div class="contents">
      <table>
        <tr>
          <th>Description</th>
        </tr>
        <tr>
          <td>{{product.description}}</td>
        </tr>

      </table>
    </div>
  </div>
</div>
